Source code/Mdw/Mdw/Service References/LudoGamePlayServiceReference/ludoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ludoService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ludoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ludoService/Imports">
      <xsd:import namespace="ludoService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILudo_RollToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RollToClient" />
  </wsdl:message>
  <wsdl:message name="ILudo_RollToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollToClientResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Roll_InputMessage">
    <wsdl:part name="parameters" element="tns:Roll" />
  </wsdl:message>
  <wsdl:message name="ILudo_Roll_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_NumberToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberToClient" />
  </wsdl:message>
  <wsdl:message name="ILudo_NumberToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberToClientResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ILudo_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_CreatePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayers" />
  </wsdl:message>
  <wsdl:message name="ILudo_CreatePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_ChatToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ChatToClient" />
  </wsdl:message>
  <wsdl:message name="ILudo_ChatToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChatToClientResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetPlayerColor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerColor" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetPlayerColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerColorResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="ILudo_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_NextTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:NextTurn" />
  </wsdl:message>
  <wsdl:message name="ILudo_NextTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextTurnResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_PutTokenInPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:PutTokenInPlay" />
  </wsdl:message>
  <wsdl:message name="ILudo_PutTokenInPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutTokenInPlayResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_PlaceToken_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceToken" />
  </wsdl:message>
  <wsdl:message name="ILudo_PlaceToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Chat_InputMessage">
    <wsdl:part name="parameters" element="tns:Chat" />
  </wsdl:message>
  <wsdl:message name="ILudo_Chat_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChatResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Check_InputMessage">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="ILudo_Check_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_MoveToken_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveToken" />
  </wsdl:message>
  <wsdl:message name="ILudo_MoveToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_MoveToClient_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveToClient" />
  </wsdl:message>
  <wsdl:message name="ILudo_MoveToClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveToClientResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_OnChatCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnChatCallback" />
  </wsdl:message>
  <wsdl:message name="ILudo_OnRollCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRollCallback" />
  </wsdl:message>
  <wsdl:message name="ILudo_OnPlayerLogin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerLogin" />
  </wsdl:message>
  <wsdl:message name="ILudo_OnPlayerTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlayerTurn" />
  </wsdl:message>
  <wsdl:message name="ILudo_OnPlaceToken_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPlaceToken" />
  </wsdl:message>
  <wsdl:message name="ILudo_OnMoveToken_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMoveToken" />
  </wsdl:message>
  <wsdl:portType name="ILudo">
    <wsdl:operation name="RollToClient">
      <wsdl:input wsaw:Action="ludoService/ILudo/RollToClient" message="tns:ILudo_RollToClient_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/RollToClientResponse" message="tns:ILudo_RollToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Roll">
      <wsdl:input wsaw:Action="ludoService/ILudo/Roll" message="tns:ILudo_Roll_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/RollResponse" message="tns:ILudo_Roll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumberToClient">
      <wsdl:input wsaw:Action="ludoService/ILudo/NumberToClient" message="tns:ILudo_NumberToClient_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/NumberToClientResponse" message="tns:ILudo_NumberToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="ludoService/ILudo/Subscribe" message="tns:ILudo_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/SubscribeResponse" message="tns:ILudo_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePlayers">
      <wsdl:input wsaw:Action="ludoService/ILudo/CreatePlayers" message="tns:ILudo_CreatePlayers_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/CreatePlayersResponse" message="tns:ILudo_CreatePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChatToClient">
      <wsdl:input wsaw:Action="ludoService/ILudo/ChatToClient" message="tns:ILudo_ChatToClient_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/ChatToClientResponse" message="tns:ILudo_ChatToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerColor">
      <wsdl:input wsaw:Action="ludoService/ILudo/GetPlayerColor" message="tns:ILudo_GetPlayerColor_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/GetPlayerColorResponse" message="tns:ILudo_GetPlayerColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="ludoService/ILudo/StartGame" message="tns:ILudo_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/StartGameResponse" message="tns:ILudo_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextTurn">
      <wsdl:input wsaw:Action="ludoService/ILudo/NextTurn" message="tns:ILudo_NextTurn_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/NextTurnResponse" message="tns:ILudo_NextTurn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutTokenInPlay">
      <wsdl:input wsaw:Action="ludoService/ILudo/PutTokenInPlay" message="tns:ILudo_PutTokenInPlay_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/PutTokenInPlayResponse" message="tns:ILudo_PutTokenInPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlaceToken">
      <wsdl:input wsaw:Action="ludoService/ILudo/PlaceToken" message="tns:ILudo_PlaceToken_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/PlaceTokenResponse" message="tns:ILudo_PlaceToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="ludoService/ILudo/GetPlayer" message="tns:ILudo_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/GetPlayerResponse" message="tns:ILudo_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Chat">
      <wsdl:input wsaw:Action="ludoService/ILudo/Chat" message="tns:ILudo_Chat_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/ChatResponse" message="tns:ILudo_Chat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input wsaw:Action="ludoService/ILudo/Check" message="tns:ILudo_Check_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/CheckResponse" message="tns:ILudo_Check_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveToken">
      <wsdl:input wsaw:Action="ludoService/ILudo/MoveToken" message="tns:ILudo_MoveToken_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/MoveTokenResponse" message="tns:ILudo_MoveToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveToClient">
      <wsdl:input wsaw:Action="ludoService/ILudo/MoveToClient" message="tns:ILudo_MoveToClient_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/MoveToClientResponse" message="tns:ILudo_MoveToClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnChatCallback">
      <wsdl:output wsaw:Action="ludoService/ILudo/OnChatCallback" message="tns:ILudo_OnChatCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnRollCallback">
      <wsdl:output wsaw:Action="ludoService/ILudo/OnRollCallback" message="tns:ILudo_OnRollCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerLogin">
      <wsdl:output wsaw:Action="ludoService/ILudo/OnPlayerLogin" message="tns:ILudo_OnPlayerLogin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlayerTurn">
      <wsdl:output wsaw:Action="ludoService/ILudo/OnPlayerTurn" message="tns:ILudo_OnPlayerTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnPlaceToken">
      <wsdl:output wsaw:Action="ludoService/ILudo/OnPlaceToken" message="tns:ILudo_OnPlaceToken_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMoveToken">
      <wsdl:output wsaw:Action="ludoService/ILudo/OnMoveToken" message="tns:ILudo_OnMoveToken_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>