Source code/Mdw/Mdw/Service References/LudoGamePlayServiceReference/ludoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ludoService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ludoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ludoService/Imports">
      <xsd:import namespace="ludoService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILudo_GetDiceRoll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDiceRoll" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetDiceRoll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDiceRollResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Roll_InputMessage">
    <wsdl:part name="parameters" element="tns:Roll" />
  </wsdl:message>
  <wsdl:message name="ILudo_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ILudo_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ILudo_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ILudo_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILudo_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetColorPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColorPlayer" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetColorPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColorPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetPlayerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerName" />
  </wsdl:message>
  <wsdl:message name="ILudo_GetPlayerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILudo_showDiceRoll_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:showDiceRoll" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILudo">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDiceRoll">
      <wsdl:input wsaw:Action="ludoService/ILudo/GetDiceRoll" message="tns:ILudo_GetDiceRoll_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/GetDiceRollResponse" message="tns:ILudo_GetDiceRoll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Roll">
      <wsdl:input wsaw:Action="ludoService/ILudo/Roll" message="tns:ILudo_Roll_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="ludoService/ILudo/Subscribe" message="tns:ILudo_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/SubscribeResponse" message="tns:ILudo_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="Unsubscribe">
      <wsdl:input wsaw:Action="ludoService/ILudo/Unsubscribe" message="tns:ILudo_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="ludoService/ILudo/Register" message="tns:ILudo_Register_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/RegisterResponse" message="tns:ILudo_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="ludoService/ILudo/Login" message="tns:ILudo_Login_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/LoginResponse" message="tns:ILudo_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetColorPlayer">
      <wsdl:input wsaw:Action="ludoService/ILudo/GetColorPlayer" message="tns:ILudo_GetColorPlayer_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/GetColorPlayerResponse" message="tns:ILudo_GetColorPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPlayerName">
      <wsdl:input wsaw:Action="ludoService/ILudo/GetPlayerName" message="tns:ILudo_GetPlayerName_InputMessage" />
      <wsdl:output wsaw:Action="ludoService/ILudo/GetPlayerNameResponse" message="tns:ILudo_GetPlayerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="showDiceRoll">
      <wsdl:output wsaw:Action="ludoService/ILudo/showDiceRoll" message="tns:ILudo_showDiceRoll_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>