Source code/Mdw/Mdw/Service References/LudoGamePlayServiceReference/ludoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ludoService" elementFormDefault="qualified" targetNamespace="ludoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:element name="RollToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RollToClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Roll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberToClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberToClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="color" type="q1:Color" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlayersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChatToClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="color" type="q2:Color" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerColorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="color" type="q3:Color" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Chat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChatCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRollCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diceroll" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="color" type="q4:Color" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>